
.mainTable {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.addCustomer, .editTable {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    float: left;
}

.left {
    float: left;
    width: 40%;
    padding: 5px;
}

button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


.clear {
    clear: both;
}


.loginForm {
    margin: 20px auto;
    max-width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

h2 {
    text-align: center;
}


.left {
    float: left;
    width: 40%;
    padding: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: auto;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.authBtn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.authBtn:hover {
    background-color: #0056b3;
}
